.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

th {
    background-color: #7339b1;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd; /* Highlight on hover */
}
