.header {
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    
    background-color: #7339b1;
    gap: 20px;
  }
  
  .button {
    background-color: #96bbe2;
    padding: 10px 20px ;
    border: none; /* Optional: Remove border */
    cursor: pointer; /* Change cursor on hover */
    font-size: 20px;
    color: white;
  }
  
  .container {
    padding: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  